@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 12px;
}

body {
  font-family: "Rubik", sans-serif;
  background-color: #e9fac8;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}

.main {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 6rem;
}
.title {
  margin-bottom: 4rem;
  display: block;
}

.title h2 {
  font-size: 3rem;
  font-weight: 500;
  margin-bottom: 1rem;
  text-align: center;
}
.check {
  display: flex;
  justify-content: center;
  align-items: center;
}
.check > * {
  margin: 0 3px;
}

/* custom check box */
.switch {
  display: inline-block;
  height: 2.8rem;
  position: relative;
  width: 6rem;
}
.switch input {
  display: none;
}
.slider {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #ccc;
  cursor: pointer;
  transition: all 0.4s;
}
.slider::before {
  content: "";
  position: absolute;
  left: 4px;
  bottom: 2px;
  width: 2.5rem;
  height: 2.5rem;
  background-color: white;
  transition: all 0.4s;
}
input:checked + .slider {
  background-color: #4edf55;
}
input:checked + .slider::before {
  transform: translateX(35px);
}
.slider.round {
  border-radius: 34px;
}
.slider.round::before {
  border-radius: 34px;
}
/* price section */
.price {
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: stretch;
}
.price-box {
  width: 42rem;
  text-align: center;
  background-color: white;
  padding-bottom: 3rem;
  margin: 2rem 1.5rem;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
}
.price-box p {
  font-size: 2rem;
  margin-bottom: 1rem;
  /* color: white; */
}
.price-box h4 span {
  font-size: 1.6rem;
  vertical-align: middle;
}
.price-box h4 span:nth-child(2) {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}
ul,
.price-box ul {
  list-style: none;
  margin-right: 2rem;
  margin-bottom: 1.5rem;
}
.price-box ul li {
  font-size: 1.4rem;
  font-weight: 400;
  text-transform: capitalize;
  padding: 1.2rem 0;
}

.price-box ul li:last-child {
  border-bottom: 1px solid #ccc;
}
.price-box a:link {
  font-size: 1.4rem;
  text-decoration: none;
  background-color: #4edf55;
  border-radius: 5px;
  margin-top: 1rem;
  outline: none;
  border: none;
  color: white;
  transition: all 0.3s;
}
.price-box a:hover {
  font-size: 1.5rem;
}

.box {
  padding: 2rem 0;
  margin-bottom: 3rem;
  color: white;
}
.box1,
.btn-1 {
  background: linear-gradient(to right bottom, #56ab2f, #a8e063);
}
.box2,
.btn-2 {
  background: linear-gradient(to right bottom, #a770ef, #65c7f7);
}
.box3,
.btn-3 {
  background: linear-gradient(to right bottom, #ef32d9, #89fffd);
}
.price-box:nth-child(2) {
  transform: scale(1.15);
}
