@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --white: #fff;
  --black: #1c2b2d;
  --blue: #31326f;
  --light-blue: #005490;
  --color-primary: #9d0191;
  --color-sec: #db6400;
  --grey: #eee;
  --dark-grey: #222831;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
}

p {
  font-size: 1.6rem;
  line-height: 1.5;
}

img {
  width: 100%;
}

.container {
  max-width: 900px;
  margin: 0 auto;
  padding: 0 40px;
  margin-top: 10rem;
}
.text {
  text-align: center;
  margin-bottom: 2rem;
}
.tabs {
  display: flex;

  border: 1px solid #ddd;
}
.tab-links {
  /* flex: 0 0 auto; */
  flex-basis: 35%;
  z-index: 1;
  align-items: center;
  overflow: hidden;
}
button.tab-link {
  height: 80px;
  width: 100%;
  background-color: #ddd;
  padding: 1.2rem;
  width: 100px;
  font-size: 1.6rem;
  border: none;
  outline: none;
  border-bottom: 2px solid blueviolet;
}
.active {
  background-color: #1c2b2d;
  color: tomato;
}
.tab-contents {
  flex-grow: 1;
  padding: 1rem;
}
.tab-content {
  display: none;
  animation: slide-right 0.5s ease 1;
}
.about {
  display: block;
}

@keyframes slide-right {
  0% {
    transform: translateX(-10rem);
  }
  100% {
    transform: translateX(0rem);
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: 100%;
  }
  .tabs {
    width: 100%;
    flex-direction: column;
  }
  .tab-links {
    width: 100%;
    margin-left: 20px;
  }
  .tab-links .tab-link {
    width: 30%;
  }
}
